/* CSS Document */
#containerbox{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
#containerbox-back{
	background:#000;
	opacity:0.9;
	filter:alpha(opacity=90);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#containerbox-content{
	display:block;
	text-align:center;
	padding:20px;
	float:left;/* este float es necesario para poder centrar la imagen automáticamente */
	position:relative;
	z-index:101;
}
#containerbox-close{
	display:block;
	width:42px;
	height:42px;
	background:url(imgs/cerrar.png) center center no-repeat transparent;
	position:absolute;
	top:0;
	z-index:101;
}
#containerbox-close span{
	display:none;
}
.preview{
	display:none;
}
