*{
	margin: 0 ;
	padding: 0;
	font-family: Tahoma;
}

/*x*/
body {
	background-color: white;
	width: 100%;
	height: 100%;
	
}

img {
	border: 0;
	outline: none;
}
.titleRegistros {
    left: -430px;
    position: relative;
}


#container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
}
#containerGray {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-image: url(imagesAdidas/gray/bgFail.png);
	background-size: 100% 100%;
}
#header {
	width: 100%;
	height: 100px;
	background-color: white;
}
.logo {
	float: left;
	margin-top: 10px;
	margin-left: 25px;
	
}
.adidas-reebok {
    float: right;
    position: relative;
    right: 25px;
    top: 55px;
}
.adidasgroup {
float: right;
    position: relative;
    right: 25px;
    top: 25px;
}
#menuInicio {

	background-image: url(imagesAdidas/menu/inicio.png);
	width: 84px;

	height: 28px;
	display: block;
}
#menuPerfil  {
				background-image: url(imagesAdidas/menu/perfil.png);
				width : 69px;
				height:28px;
				display:block;
				
			}
			#menuForoDudas {
				background-image: url(imagesAdidas/menu/foro.png);
				width : 138px;
				height:28px;
				display:block;
			}
			#menuVentas {
				background-image: url(imagesAdidas/menu/ventas.png);
				width : 83px;
				height:28px;
				display:block;
			}
			#menuCatalogo {
				background-image: url(imagesAdidas/menu/catalogo.png);
				width : 195px;
				height:28px;
				display:block;
			}
			#menu {
    clear: both;
    float: right;
    margin-top: 7px;
    position: relative;
    right: 15px;
    width: 590px;
    z-index: 100;
    *top: 50px !important;
}
			#menu ul {
				display: inline;
			}
			#menu ul li {
    display: inline;
    float: left;
    margin: 1px;
}

		a:hover.menu {
			background-position: 0 28px;
		}
.linea {   
   border-bottom: solid thin #6e6e6e;
    width: 100%;
}
		
object {
	outline: none;
}		

#bannerHome {
	width: 580px;
	height: 150px;
	overflow: hidden;
	/*border: 3px solid black;*/
	padding: 0px;
	clear:both;
	margin: 0 auto;
	text-align: right;
	position: relative;
	left: 310px;
	top:65px;
	}


#bannerHome img {
	height: 150px;
	margin: 0px;
	border: 0px;
	clear:both;
	}		
		
#content {
	width: 100%;
	margin-bottom: 50px;
}
#content-gray {
	width: 100%;
	margin-bottom: 50px;
	/*background-color: #868789;*/
	height: 100%;
}
.clear {
	/*clear: both;*/
}
.bottom {
    background-image: url("imagesAdidas/bottomGrid.png");
    position: absolute;
    height: 168px;
    width: 100%;
    z-index: 1;
    bottom : 0 ;
}
#registrate {
	float: left;
	margin-top: 100px;
}
#login {
	float: right;
}
#log {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

#user {
    height: 40px;
    left: 30px;
    margin: 0 auto;
    padding-top: 15px;
    position: absolute;
    text-align: left;
    width: 150px;
    z-index: 100;
    *top: 150px !important;
}
.user {
    color: #6E6E6E;
    font-size: 12px;
    font-weight: lighter;
    margin: 0 auto;
    text-align: left;
    text-transform: capitalize;
}
.logout {
	margin: 0 auto;
	text-align: center;
}
#user a:link {
	font-size: 10px;
	color: #6e6e6e;
	font-style: normal;
	text-decoration: none;
	
}
#user a:hover{
	font-size: 10px;
	color: #6e6e6e;
	font-style: normal;
	text-decoration: none;
}
#user a:visited{
	font-size: 10px;
	color: #6e6e6e;
	font-style: normal;
	text-decoration: none;
}


.top {
	position: relative;
	top:0px;
	z-index: 1;
	background-image: url(imagesAdidas/topGrid.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 110px;
}
#registrate p {
	color: #6e6e6e;
	font-size: 12px;
}
.form {
	background-image: url(imagesAdidas/login/bglogin.png);
	background-repeat: no-repeat;
	width: 344px;
	height: 233px;
	padding-top: 30px;
	color: #313131;
}
.form input {
	margin: 10px 0 10px 0;
	height: 20px;
	width: 225px;
}
.form input.entrar {
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    top: 10px;
    width: 106px;
    height: 29px;
}
.userOptions {
    float: right;
    font-size: 12px;
    margin: 30px 30px 0 0;
    text-align: right;
    width: 185px;
}
input.password {
	width: 200px;
}
.userOptions  a:hover{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-style: normal;
}
.userOptions a:link{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-style: normal;
}
.userOptions a:visited{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-style: normal;
}
#footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: #fff;
	z-index: 100;
	color: #6e6e6e;
}
#footer p {
    color: #6E6E6E;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    width: 850px;
	padding-top: 10px;
	*padding-top: 0px !important;
}

#footer a:visited {
	text-decoration: none;
	color:  #6e6e6e;
}
#footer a:link{
	text-decoration: none;
	color:   #6e6e6e;
}
#footer a:hover {

	text-decoration: underline;
	color:   #6e6e6e;
}
#error {
    cursor: pointer;
    left: 270px;
    position: absolute;
    text-align: center;
    z-index: 100;
}
#registro {
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: -67px;
    width: 1000px;
}
#reg {
	float: left;
	text-align: right;
	   background-image: url("imagesAdidas/login/bgForm.png");
	   background-repeat: no-repeat;
    height: 360px;
    width: 715px;
    padding: 10px;
	color: #313131;
}
#reg td {
	width: 125px;
	text-align: right;
	
}
#reg .long {
    float: right;
    display: inline;
    width: 690px;
    text-align: right;
    margin-left: 10px;
    *margin-left: 10px !important;
}
#reg .short {
    float: left;
    display: inline-table;
   margin-left: 10px;
   *margin-left: 10px !important;

}
.dos {
	*position: relative !important;
	*right: 300px !important;
}
.tres {
	*position: relative !important;
	*right: 300px !important;
}

.acepto {
	float: right;
	*float:right !important;
	color: #6e6e6e;
	font-size: 10px;
}
.aTyC {
	width: 200px;
	float: right;
	position: relative;
	top:300px;
	*position: relative !important;
	*top: -30px !important;
	*left: 150px !important;
	right: 80px;
}
.aTyC input {
	float: right;
	*float: right !important;
	margin-left:10px;
}
.aTyC a:link {
	color: #6e6e6e;
	
}
.aTyC a:hover {
	color: #6e6e6e;
	
}
.aTyC a:visited{
	color: #6e6e6e;
	
}
#reg .long input{
	width: 533px;
	text-align: left;
	
}
.short select {
	width: 205px;
	text-align: left;
	
}
.long input {

}
.short input {
	width: 200px;
}
.double {
	width: 700px;
}
#reg input {
	text-align: left;
	margin: 10px 0 10px 0;
	height: 20px;
}
.enviarRegistro {
	float: right;
	*float: right !important;
	position: relative;
	top:200px;
	*position: relative !important;
	*top:-200px !important;
}
.enviarRegistro input[type="image"] {
    background: none repeat scroll 0 0 transparent;
    margin: 0 auto;
    padding: 0;
	
}
.name {
	
}
#content-perfil {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
#content-perfil h2{
	font-size: 14px;
	font-weight: bold;
	color: #00aeef;
	text-align: left;
	 margin-left: 10px;
}
#miPerfil img  {
	text-align: left;
	position: relative;
	top:-40px;
}
#infoModulos {
    background-image: url("imagesAdidas/perfil/bgForm.png");
    background-repeat: no-repeat;
    color: #6E6E6E;
    float: left;
    font-size: 12px;
    position: relative;
    top: 40px;
    width: 485px;
}	 
#perfil {
    
    height: 230px;
    width: 485px;
    *position:relative !important;
    *top: -25px !important;
}
#datosP{
	margin-top: 40px;
	margin-bottom: 40px;
	
}
#puntos{
	margin-top: 40px;
	margin-bottom: 40px;
}

#datosP td {
	padding: 10px 0 10px 10px;
}
#puntos td{
	padding: 10px 0 10px 10px;
}
.titlePerfil {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}
#miPerfil {
    float: right;
    position: relative;
    top: -60px;
    width: 450px;
    text-align: left;
    
    
   
}
.titleTD{
	color: #00aeef;
	font-size: 12px;
	text-align: left;
	
}

.ans {
	font-size: 12px;
	color: #8b8b8b;
}
.titleModulos {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	height: 35px;
	text-align: center;
}
#content-home {
	margin: 0 auto;
	text-align: center;
	width: 1000px;	
	position: relative;
	top:-150px;
}

#mainHome {
	margin: 0 auto;
	text-align: center;
	display: block;
}
#homeC {
	margin: 0 auto;
	text-align: center;
}
#homeC ul {
	list-style: none outside none;
	width: 300px;
}
#homeC li {
	float: left;
	list-style-type: none;
	width: 300px;
}

#Product {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	display: none;
}
#productOne {
	width: 1050px;
}
.imageProduct {
	float: left;
	width: 450px;
}
.especificaciones {
    float: right;
    position: relative;
    top: 140px;
    width: 460px;
    text-align: left;
}
.Beneficios {
	width: 220px;
	float: left;
	text-align: left;
	
}
.cerrar {
	position: relative;
	right: 200px;
	display: none;
}
.clientes {
	width: 220px;
	float: right;
	display: none;
}
span.info {
	
}
span.info p {
	font-size: 10px;
	color: #2fa700;
}
.titleProduct {
	margin: 20px;
}
.tituloB {
	font-size: 12px;
	color: #00aeef;
	text-align: left;
	margin: 10px 0 10px 0;
}
.textoB {
	font-size: 12px;
	color: #6e6e6e;
	text-align: left;
}
.jugadores {
	clear: both;
	float: left;
	margin-top: 50px;
	display: none;
}
.jugadores a:link{
	color: #6e6e6e;
	font-size: 12px;
	text-decoration: none;
	
}
.jugadores a:visited {
color: #6e6e6e;
	font-size: 12px;
	text-decoration: none;
}
.jugadores a:hover {
	color: #00aeef;
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
}

.imagePlayer {
    display: none;
    float: left;
}
a.moreInfo {
	color: #6e6e6e;
	font-size: 12px;
	text-decoration: none;
	font-style: normal;
	text-align: left;
}

#content-forgot {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
#content-olvide {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
#content-password {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
.titleGray {
    margin-bottom: 10px;
    text-align: right;
}
.olvide-text {
	color: #fff;
	font-size: 14px;
	margin-top: 30px;
}
#text-forgot {
	width: 500px;
	margin: 0 auto;
	text-align: left;
	height: 550px;
	position: relative;
	top:-50px;
}
#text-olvide {
	width: 500px;
	margin: 0 auto;
	text-align: left;
	height: auto;
}
.sendMail {
	width: 470px;
	margin-top: 5px;
}
.enviar {
    left: 345px;
    position: relative;
    top: 30px;
    
}

.jugadoresP td {
    padding: 0 10px;
}


#vistaLateral {
	
	display: block;

}
#vistaSuperior {

	display: none;
}
#vistaInferior {
	display: none;
}
#vistaTrasera {
	display: none;
}

.vistaCuero {
	display: none;
}
.vistaSprint{
	display: none;
}
.vistaTaurus {
	display: none;
}
.vistaZona {
	display: none;
}
.vistaTraxion {
	display: none;
}

.superiorCuero {
	display: none;
}
.superiorTaurus {
	display: none;
}
.superiorZona {
	display: none;
}

.vistaSpineInferior {
	display: none;
}
.vistaSprintInferior {
	display: none;
}
.vistaTraxionInferior {
	display: none;
}

.traseraSprint{
	display: none;
	}
.traseraTraxion {
	display: none;
}	
.traseraCuero{
	display: none;
}

area {
	cursor: pointer;
}

#registroBien {
    height: 500px;
    margin: 0 auto;
    text-align: center;
    width: 1078px;
    background-image: url(imagesAdidas/login/bgBien.png);
   
}
#registroBien img {
	margin-top: 200px;

}
.bien {
	margin: 0 auto;
	text-align: center;
	width: 400px;
	font-size: 12px;
	color: #fff;
	}

#registroBien a:link{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
#registroBien a:hover {
font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
#registroBien a:visited{
font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
}
.terminos {
    height: 340px;
    width: 500px;
    overflow: auto;
    color: #e3e3e3;
    font-size: 12px;
   
}
.terminos p {
	padding: 10px;
}

#left {
	width: 1000px;
	height: 350px;
	overflow: hidden;
	padding: 0px;
	clear:both;
	margin: 0 auto;
	text-align: center;
	}

/* Immagini */
#left img {
	
	margin: 0 70px 0 70px;
	border: 0px;
	clear:both;
	}


/*-------------------Menu desplegable-------------------------*/
#menu li.menu_categoria{
	position:relative;
}
#menu li.menu_categoria ul{
	background-color: #28ACE2;
	display: none;
	padding: 10px 0;
	position: absolute;
	width: 180px;
}
#menu li.menu_categoria:hover ul{
	display: block;
}
#menu li.menu_categoria ul li{
	display:block;
	float:none;
}
#menu li.menu_categoria ul li a{
	color:#FFF;
	display:block;
	padding:3px 5px;
	text-decoration:none;
}
#menu li.menu_categoria ul li a:hover{
	background-color:#0075D4;
}
#menu li.menu_categoria:hover ul li.menu_subcategoria ul{
	background-color: #3C7ABE;
	display: none;
	padding: 10px 0;
	position: absolute;
	width: 180px;
	left: 180px;
	top: 10px;
}
#menu li.menu_categoria:hover ul li.menu_subcategoria:hover ul{
	display:block;
}
#menu li.menu_subcategoria ul li a:hover{
	background-color:#00A6F7;
}



/*-------------------Lightbox notificaciones-------------------------*/

.notification{
    background: url("imagesAdidas/evaluaciones/back.png") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.notification .notification_success{
    left: 50%;
    margin-left: -223px;
    margin-top: -107px;
    position: absolute;
    top: 50%;
    
}
.notification .notification_error{
    left: 50%;
    margin-left: -217px;
    margin-top: -100px;
    position: absolute;
    top: 50%;
}



/*-------------------Slide evaluaciones-------------------------*/
.slidedeck{
    height:452px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    width:1000px;
}

.slidedeck_buttons{
    left:710px;
    position:absolute;
    top:10px;
    z-index:1;
}

.slidedeck #evaluacion{
    position:absolute;
    top:0;
}

.slidedeck .slide{
    height:452px;
    position:relative;
    width:1000px;
}

.slidedeck_op1{
    position: absolute;
    top: 207px;
    left: 215px;
    z-index: 1;
}
.slidedeck_op2{
    position: absolute;
    top: 243px;
    left: 215px;
    z-index: 1;
}
.slidedeck_op3{
    position: absolute;
    top: 275px;
    left: 215px;
    z-index: 1;
}
.slidedeck_true{
    position: absolute;
    top: 227px;
    left: 215px;
    z-index: 1;
}
.slidedeck_false{
    position: absolute;
    top: 263px;
    left: 215px;
    z-index: 1;
}


/*-------------------Carrousel style-------------------------*/

#intro {
				width: 580px;
				margin: 0 auto;
			}
			.wrapper {
    background-color: white;
    box-shadow: 0 0 20px #999999;
    height: 300px;
    margin: 40px auto;
    padding: 50px;
    width: 1000px;
}
			.list_carousel {
				margin: 0 auto;
				width: 850px;
				text-align: center;
			}
			.list_carousel ul {
				
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				
								width: 230px;
				height: 300px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}

			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				
				height: 6px;
				width: 0px;
			}

